<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registered Users</title>
    <style>
        *:not(body){
            padding:10px;
            margin:10px;
        }
    </style>
</head>
<body>
    <div id = "header" style = "display: flex;align-items: center;justify-content: space-between;">
        <h1 >Welcome to Admin</h1>
        <nav>
            <a href= {{url_for('admindashboard')}}>Home</a> | 
            <a href= {{url_for('adminregistered_user')}}>Users</a> | 
            <a href= {{url_for('adminsummary')}} >Summary</a> | 
            <a href="/">Logout</a>
        </nav>
    </div>
    <div id="mainpage">
        <div style = "border: solid 2px red; border-radius: 20px; display: flex; justify-content: center;align-items: center ;height:40px; font-size: 30px; font-weight: bolder;">Registered User</div>
    <div id = "list_of_users">
        <table border = '1' style=" width: 100%;">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Full Name</th>
                    <th>Address</th>
                    <th>Pincode</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.fullname}}</td>
                    <td>{{user.address}}</td>
                    <td>{{user.pincode}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    </div>
    </div>
    
</body>
</html>